PORT=3001
BLACKBAUD_API_BASE_URL=https://api.sky.blackbaud.com/tms-bmapi/v1
BLACKBAUD_SUBSCRIPTION_KEY=your_primary_subscription_key_here
BLACKBAUD_SECONDARY_KEY=your_secondary_subscription_key_here
BLACKBAUD_OAUTH_TOKEN=your_oauth2_access_token_here
BLACKBAUD_ENVIRONMENT_ID=your_blackbaud_environment_id
